PORT=5000
MONGO_URI="mongodb+srv://odaa_database:Ga%5Ctlata%2387%24900@blog.0h6cl1h.mongodb.net/?appName=blog"
# If you want to use the non-SRV Atlas URI, include username/password and quote the value:
# MONGO_URI="mongodb://<username>:<password>@atlas-sql-6a25df272fcb43c62c4a1c3c-lgqvtt.g.query.mongodb.net/odaa-db?ssl=true&authSource=admin"
JWT_SECRET=your_jwt_secret
ADMIN_EMAIL=galataaomer@gmail.com
# Store bcrypt hash of admin password here
ADMIN_PASSWORD_HASH=Gelata8709
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
FRONTEND_URL= (https://odaa-blog-family.vercel.app/)